In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Data_Analyst_Assignment_Dataset.csv')

In [3]:
df

,Amount Pending,State,Tenure,Interest Rate,City,Bounce String,Disbursed Amount,Loan Number
0,963,Karnataka,11,7.69,Bangalore,SSS,10197,JZ6FS
1,1194,Karnataka,11,6.16,Bangalore,SSB,12738,RDIOY
2,1807,Karnataka,14,4.24,Hassan,BBS,24640,WNW4L
3,2451,Karnataka,10,4.70,Bangalore,SSS,23990,6LBJS
4,2611,Karnataka,10,4.41,Mysore,SSB,25590,ZFZUA
...,...,...,...,...,...,...,...,...
24577,899,Andhra Pradesh,8,0.00,Chittoor,FEMI,7192,EAX5C
24578,2699,Andhra Pradesh,8,0.00,Krishna,FEMI,21592,5MCE9
24579,1540,Andhra Pradesh,8,0.00,Krishna,FEMI,12320,9HO4Q
24580,824,Andhra Pradesh,8,0.00,Guntur,FEMI,6592,3VV72
24581,2254,Andhra Pradesh,11,0.00,Kurnool,FEMI,24794,18XBC

In [4]:
df.info

<bound method DataFrame.info of        Amount Pending           State  Tenure  Interest Rate       City  \
0                 963       Karnataka      11           7.69  Bangalore
1                1194       Karnataka      11           6.16  Bangalore
2                1807       Karnataka      14           4.24     Hassan
3                2451       Karnataka      10           4.70  Bangalore
4                2611       Karnataka      10           4.41     Mysore
...               ...             ...     ...            ...        ...
24577             899  Andhra Pradesh       8           0.00   Chittoor
24578            2699  Andhra Pradesh       8           0.00    Krishna
24579            1540  Andhra Pradesh       8           0.00    Krishna
24580             824  Andhra Pradesh       8           0.00     Guntur
24581            2254  Andhra Pradesh      11           0.00    Kurnool

      Bounce String  Disbursed Amount Loan Number
0               SSS             10197       JZ6FS
1               SSB             12738       RDIOY
2               BBS             24640       WNW4L
3               SSS             23990       6LBJS
4               SSB             25590       ZFZUA
...             ...               ...         ...
24577          FEMI              7192       EAX5C
24578          FEMI             21592       5MCE9
24579          FEMI             12320       9HO4Q
24580          FEMI              6592       3VV72
24581          FEMI             24794       18XBC

[24582 rows x 8 columns]>

In [5]:
df.dtypes

Amount Pending        int64
State                object
Tenure                int64
Interest Rate       float64
City                 object
Bounce String        object
Disbursed Amount      int64
Loan Number          object
dtype: object

### Calculate the risk labels for all the borrowers.
* Unknown risk : New customers

* Low risk : Customers who have not bounced in the last 6 months

* Medium Risk : These are customers who have bounced at less than twice in the last 6 months - The bounce should not have occurred in the last month

* High risk : every other customer

In [6]:
df['Bounce String'].unique()

array(['SSS', 'SSB', 'BBS', 'SBB', 'BB', 'SS', 'BS', 'SB', 'S', 'B',
       'FEMI', 'LSSBBS', 'LSSSSS', 'LSBSSS', 'LBSSSS', 'BSSBBB', 'LSSBSB',
       'LBBSBB', 'LSSBSS', 'LSSSBB', 'LSBSBS', 'LBBBBB', 'LBSSBS',
       'LBBSSB', 'LSBBBS', 'LSBBSS', 'LSSSBS', 'LSHSSB', 'LBSBBS',
       'SSSSSB', 'SSSBSB', 'SSSSS', 'SBBBB', 'BBBSS', 'BBBBS', 'BBSSS',
       'SBSSS', 'BSSBB', 'SSBBS', 'BSSSB', 'SSSBS', 'BSSBS', 'SSSSB',
       'SHSSS', 'SSSBB', 'BSSSS', 'SSBSS', 'BBSB', 'BSBS', 'SSSS', 'BSSS',
       'SBBS', 'SSBS', 'SBBB', 'SSSB', 'SBSB', 'HBBS', 'SBSS', 'SBS',
       'BBB', 'LBBBSS', 'SSBSBB', 'LSSSSB', 'SSBSSB', 'SBBBS', 'SBSSB',
       'BSBBS', 'SBBSB', 'BSBBB', 'BBBSB', 'SBSBS', 'BSSB', 'BBBB',
       'HSSS', 'BBBS', 'LBSSSB', 'LSBBBB', 'BSBSB', 'LBBSSS', 'BBBBB',
       'BSBSS', 'BSBB', 'BBSS', 'BHSBS', 'SSBB', 'SSSSSSSB', 'LSSSSSSS',
       'HHLSHSSS', 'LLLSSSSS', 'LHLSSSSS', 'LBBBSSSB', 'BSSSSSBS',
       'LLLBBSSB', 'LHSSSSSS', 'LLLSBBSS', 'LSSBBBBB', 'SSSSSSSS',
       'LLSSSSS', 'LSSSSSS', 'LLBBBBB', 'LLSSSBS', 'LLLBBLS', 'LLSBSSS',
       'LLBBBBS', 'LLLBBLB', 'SSSSSSS', 'SSBSSBS', 'LLBSSBS', 'LLSBBBB',
       'LLSSBSS', 'LLBSSSS', 'LLBBBSB', 'LLSBSBB', 'LLSSSSB', 'LLSBSSB',
       'BSSSSBS', 'LLLBSSS', 'LLSHSSS', 'LSSSSSB', 'LLSBBBS', 'SBSBBSB',
       'LLSSBSB', 'SBSSSSS', 'LLSSSBB', 'LLSSBBB', 'SSBSSSS', 'LLSSBBS',
       'LLLBBBB', 'SSSSSBS', 'SSBSSBB', 'LLBSBBS', 'SLSHSSS', 'LLBSSSB',
       'LLSBBSB', 'SSSBSSS', 'SSSBSBS', 'LLBSBBB', 'BSSSSSS', 'BBBBBBB',
       'SSSSBSS', 'HBBSSSB', 'LLSBBSS', 'LLSBSBS', 'LLBBSBS', 'HBBSSSS',
       'HBBBBBB', 'BBBSSSB', 'HLSHSSS', 'LLBSSBB', 'LLBBSSS', 'BBBSBBB',
       'BBSBBSS', 'SLBSSSS', 'BBBHSSS', 'LLBSBSB', 'LLBBSSB', 'BLSHSBS',
       'SSBSBSS', 'LLBSBSS', 'BBLBBBB', 'SBBBBBB', 'HBBBBSS', 'SBBBBSS',
       'BBBBSSB', 'SSSBSSB', 'BBSBBBS', 'LLLSSSS', 'HLBSSSS', 'HBSBSBB',
       'LLSSBLS', 'HLSHSBS', 'SBBSSSS', 'LBBBSB', 'LSHSSS', 'LBBBLB',
       'SSSSSS', 'BSSBSB', 'LBBBBS', 'LSSBBB', 'SSSSBS', 'LBHSSS',
       'LBBBLS', 'LBSSBB', 'BSBBBS', 'SBBBBB', 'SSSBSS', 'SBSBSB',
       'BSSSSB', 'BBBBBB', 'SBSSSB', 'BBBSBB', 'BBSBSS', 'LBSBBB',
       'LSBSSB', 'LLSBBB', 'LSHBSS', 'SBSSBB', 'SSSSBB', 'SBBBBS',
       'LSBBSB', 'LBSBSS', 'SBBSSS', 'LBSBSB', 'LBBSBS', 'SSBBBS',
       'BBHBBS', 'BBBBBS', 'SSBSSS', 'BSHSSS', 'BSSSSS', 'LSHBBB',
       'SSSBBS', 'BBBBSB', 'SSBBSS', 'BBBSBS', 'BBBSSS', 'LSBSBB',
       'BBSSB', 'SSBSB', 'BBSBS', 'SSBBB', 'SHSBS', 'SBBSS', 'SHSSB',
       'SBSBB', 'BHSSS', 'BBSBB', 'SSBLS', 'SBLS', 'BBLS', 'HSSB', 'BLS',
       'HSSSSSSSS', 'SSBLSSBSS', 'LLLLSSBBB', 'SSSSSSSSS', 'LLLLBBBBS',
       'LLLLSSSBB', 'BBSSSSSS', 'LLLSSBSS', 'LLLBSBBS', 'SBBBBSSS',
       'SSSSBBSS', 'HBBSHBBS', 'BBSSBBBS', 'BBBBBBBB', 'LLLBBBBB',
       'LLLBBBSB', 'SSBBSSSS', 'LSBSSSSS', 'LLLSBBBS', 'LSSBSSSS',
       'LSLSHSSS', 'LHLBSSBS', 'LBBBSBSS', 'LLLLBBBB', 'LLLBBBSS',
       'LLLSSSBB', 'LBLBSSBS', 'LHBSSSSB', 'BSSSSSSS', 'SSBSSSSS',
       'SHSSSSSS', 'BBBBSSSB', 'SBBLBBBB', 'LBBBSBBS', 'SBBSSSSS',
       'SSSSSSBS', 'BLBSBBB', 'BBSSSSS', 'BBBBBSB', 'HBSHSSS', 'LLSBBLB',
       'HSSSSSS', 'SSSSSSB', 'LLLBBBS', 'LLBBBSS', 'BBSSBBB', 'HBBHSSS',
       'BBSBSSS', 'SSSBBBB', 'HLBSSSB', 'LLLBSBB', 'BBBBBBS', 'BSBSBSS',
       'SBSBSSS', 'SSBBSBS', 'LLBBSBB', 'SBBBSBB', 'HBBSBBS', 'SSSSSBB',
       'SLSSSSS', 'SBBSSBS', 'SBSSBBB', 'BBBSBSS', 'BBBSBBS', 'BBBBSBS',
       'BLSSSBS', 'SSSSBBS', 'BSSBBBB', 'BBBBSBB', 'LBSBBBB', 'BSSSBSS',
       'HLSSSSS', 'SSBSBBS', 'SBBHSSB', 'LSBSSSB', 'BSBBSBS', 'BBBBSSS',
       'BSBBSBB', 'BLBSSBS', 'SSSSBSB', 'BSBBBBB', 'BBBSSBS', 'HLSSBSS',
       'SBBSSSB', 'HLBHSSS', 'BLBSSSS', 'SSSSBBB', 'BLSBBBB', 'BBBSSSS',
       'BLBBSSS', 'SSBBSB', 'SBHSSS', 'BBBSSB', 'SBSSSS', 'SBSBBS',
       'LLBSBS', 'SSHSSS', 'LLBBBS', 'BLBSSS', 'BBSBBS', 'BBSSSB',
       'BBSSSS', 'SBSBBB', 'BBSBBB', 'SBHSSB', 'BBHBBB', 'LBHSSB',
       'SSBBBB', 'LLBBBB', 'BBSSBS', 'LSBBLB', 'SBBSSB', 'BSSSBB',
       'LSBBLS', 'BHSSB', 'SSBLB', 'SHBSS', 'SBBLS', 'HBSS', 'HSBS',
       'LLLLLSSSSS', 'LSHSSSSSSS', 'SSSSSSSSSS', 'SBHHLSHSSS',
       'BBHHBBBBBB', 'LLLLSSSSS', 'HHHLSSSSS', 'SSSSSSSBB', 'BSSSBSSSB',
       'SSBSBBBB', 'LLLBSSSS', 'LHLSHSSS', 'LHBSSSSS', 'LHBSBSBB',
       'LSSSSSBS', 'LHLBSSSS', 'HLBBBBB', 'LSSBSSS', 'SBSBBSS', 'SBBSSBB',
       'HBSSSSS', 'BBBBBSS', 'SSBSSSB', 'BSSBSBS', 'HLSHSSB', 'SBSBSBB',
       'SSBSBSB', 'SBSHSSB', 'BLSSSSS', 'SSBSBBB', 'BBSBBBB', 'HLSHBSS',
       'SSBBBBB', 'HBSSSSB', 'BSHSSB', 'BBBBSS', 'BBHSSB', 'SBSSBS',
       'SBHBSS', 'BSBSSS', 'SHBBB', 'BHBBS', 'HSBB', 'LBHBSS', 'BBSSBB',
       'SSSBBB', 'BBSBSB', 'LLBBSB', 'SHBBS', 'BSHSBB', 'LSHSBS', 'BHBBB',
       'BHBSS', 'SHSBB', 'HBSB', 'BLBBBBB', 'BLSBSB', 'BBHSBS', 'BSBSSB',
       'BLBSSB', 'BHSBB'], dtype=object)

In [7]:
def risk_label(bounce_string):
    if 'FEMI' in bounce_string:
        return 'Unknown risk'
    
    bounce_count_last_6_months = bounce_string.count('B') + bounce_string.count('L')
    last_month_bounce = bounce_string[-1]
    
    if bounce_count_last_6_months == 0:
        return 'Low risk'
    elif bounce_count_last_6_months < 2 and last_month_bounce in ('S', 'H'):
        return 'Medium risk'
    else:
        return 'High risk'

df['Risk Label'] = df['Bounce String'].apply(risk_label)

print(df[['Loan Number', 'Risk Label']])

      Loan Number    Risk Label
0           JZ6FS      Low risk
1           RDIOY     High risk
2           WNW4L     High risk
3           6LBJS      Low risk
4           ZFZUA     High risk
...           ...           ...
24577       EAX5C  Unknown risk
24578       5MCE9  Unknown risk
24579       9HO4Q  Unknown risk
24580       3VV72  Unknown risk
24581       18XBC  Unknown risk

[24582 rows x 2 columns]

In [8]:
df.head()

,Amount Pending,State,Tenure,Interest Rate,City,Bounce String,Disbursed Amount,Loan Number,Risk Label
0,963,Karnataka,11,7.69,Bangalore,SSS,10197,JZ6FS,Low risk
1,1194,Karnataka,11,6.16,Bangalore,SSB,12738,RDIOY,High risk
2,1807,Karnataka,14,4.24,Hassan,BBS,24640,WNW4L,High risk
3,2451,Karnataka,10,4.70,Bangalore,SSS,23990,6LBJS,Low risk
4,2611,Karnataka,10,4.41,Mysore,SSB,25590,ZFZUA,High risk

### label all customers based on where they are in their tenure
* Early tenure : Customers who are in the book for 3 months
* Late tenure : Customers who are 3 months away from closing the loan
* Mid tenure : Everyone else

In [9]:
def tenure_label(tenure):
    
    if tenure == 3:
        return 'Early tenure'
    elif tenure == 6:
        return 'Late tenure'
    else: 
        return 'Mid tenure'
        
df['Tenure Label'] = df['Tenure'].apply(tenure_label)

print(df[['Loan Number', 'Tenure Label']])

      Loan Number Tenure Label
0           JZ6FS   Mid tenure
1           RDIOY   Mid tenure
2           WNW4L   Mid tenure
3           6LBJS   Mid tenure
4           ZFZUA   Mid tenure
...           ...          ...
24577       EAX5C   Mid tenure
24578       5MCE9   Mid tenure
24579       9HO4Q   Mid tenure
24580       3VV72   Mid tenure
24581       18XBC   Mid tenure

[24582 rows x 2 columns]

In [10]:
df.head()

,Amount Pending,State,Tenure,Interest Rate,City,Bounce String,Disbursed Amount,Loan Number,Risk Label,Tenure Label
0,963,Karnataka,11,7.69,Bangalore,SSS,10197,JZ6FS,Low risk,Mid tenure
1,1194,Karnataka,11,6.16,Bangalore,SSB,12738,RDIOY,High risk,Mid tenure
2,1807,Karnataka,14,4.24,Hassan,BBS,24640,WNW4L,High risk,Mid tenure
3,2451,Karnataka,10,4.70,Bangalore,SSS,23990,6LBJS,Low risk,Mid tenure
4,2611,Karnataka,10,4.41,Mysore,SSB,25590,ZFZUA,High risk,Mid tenure

### Segment borrowers based on ticket size
* Distribute the data into 3 cohorts based on ticket size. This is to be done such that sum of amount pending in each cohort should be approximately equal. Apply the following labels on each borrower based on this logic:
1. Low ticket size
2. Medium ticket size
3. High ticket size

In [11]:
def segment_borrowers(ticket_sizes):
   
    # Sort the ticket sizes
    sorted_ticket_sizes = sorted(ticket_sizes)
    
    # Calculate the size of each cohort
    cohort_size = len(ticket_sizes) // 3
    
    # Initialize labels list
    labels = []
    
    for i in range(len(ticket_sizes)):
        if i < cohort_size:
            labels.append('Low ticket size')
        elif i < 2 * cohort_size:
            labels.append('Medium ticket size')
        else:
            labels.append('High ticket size')
    
    return labels

ticket_sizes = df['Disbursed Amount']  

# Segment borrowers based on ticket size
df['Ticket Label'] = segment_borrowers(ticket_sizes)

print(df[['Amount Pending', 'Disbursed Amount', 'Ticket Label']])

       Amount Pending  Disbursed Amount      Ticket Label
0                 963             10197   Low ticket size
1                1194             12738   Low ticket size
2                1807             24640   Low ticket size
3                2451             23990   Low ticket size
4                2611             25590   Low ticket size
...               ...               ...               ...
24577             899              7192  High ticket size
24578            2699             21592  High ticket size
24579            1540             12320  High ticket size
24580             824              6592  High ticket size
24581            2254             24794  High ticket size

[24582 rows x 3 columns]

In [12]:
df.head()

,Amount Pending,State,Tenure,Interest Rate,City,Bounce String,Disbursed Amount,Loan Number,Risk Label,Tenure Label,Ticket Label
0,963,Karnataka,11,7.69,Bangalore,SSS,10197,JZ6FS,Low risk,Mid tenure,Low ticket size
1,1194,Karnataka,11,6.16,Bangalore,SSB,12738,RDIOY,High risk,Mid tenure,Low ticket size
2,1807,Karnataka,14,4.24,Hassan,BBS,24640,WNW4L,High risk,Mid tenure,Low ticket size
3,2451,Karnataka,10,4.70,Bangalore,SSS,23990,6LBJS,Low risk,Mid tenure,Low ticket size
4,2611,Karnataka,10,4.41,Mysore,SSB,25590,ZFZUA,High risk,Mid tenure,Low ticket size

### Give channel spend recommendations
* You are allowed to spend 3 kinds of resources to reduce the overall bounce

1. Whatsapp bot: This is the cheapest medium - it will cost 5 rupees per borrower 
2. Voice bot: This is the mid-cost - it will cost 10 rupees per borrower
3. Human calling: This is the costliest option - it will cost 50 rupees per borrower

* Whatsapp bot will work well in the following scenarios

1. Customers with great repayment behavior
2. Customers with first EMIs
3. Customers who have low EMIs

* Voice bot will work well in the following scenarios 

1. Customer who know Hindi or English - Metropolitan areas have high probability of english speakers & english speakers have typically lower interest rates
2. Customers who have had low bounce behaviour
3. Customers with low or medium sized EMIs

* Human calling will work on all scenarios but is the costliest option and you need to use this channel only where absolutely necessary

Your job is to segment the borrowers into these 3 channels of spend category and minimise the overall spend while maximise on time repayment.

In [16]:
# Define a threshold for low EMIs
low_emi_threshold = 3000

# Determine eligibility for WhatsApp bot
def whatsapp_bot_eligibility(row):
    if row['Amount Pending'] <= low_emi_threshold:
        return 'WhatsApp Bot'
    else:
        return 'No WhatsApp Bot'

# Apply the function to each row
df['WhatsApp Bot Recommendation'] = df.apply(whatsapp_bot_eligibility, axis=1)

print(df)

       Amount Pending           State  Tenure  Interest Rate       City  \
0                 963       Karnataka      11           7.69  Bangalore
1                1194       Karnataka      11           6.16  Bangalore
2                1807       Karnataka      14           4.24     Hassan
3                2451       Karnataka      10           4.70  Bangalore
4                2611       Karnataka      10           4.41     Mysore
...               ...             ...     ...            ...        ...
24577             899  Andhra Pradesh       8           0.00   Chittoor
24578            2699  Andhra Pradesh       8           0.00    Krishna
24579            1540  Andhra Pradesh       8           0.00    Krishna
24580             824  Andhra Pradesh       8           0.00     Guntur
24581            2254  Andhra Pradesh      11           0.00    Kurnool

      Bounce String  Disbursed Amount Loan Number    Risk Label Tenure Label  \
0               SSS             10197       JZ6FS      Low risk   Mid tenure
1               SSB             12738       RDIOY     High risk   Mid tenure
2               BBS             24640       WNW4L     High risk   Mid tenure
3               SSS             23990       6LBJS      Low risk   Mid tenure
4               SSB             25590       ZFZUA     High risk   Mid tenure
...             ...               ...         ...           ...          ...
24577          FEMI              7192       EAX5C  Unknown risk   Mid tenure
24578          FEMI             21592       5MCE9  Unknown risk   Mid tenure
24579          FEMI             12320       9HO4Q  Unknown risk   Mid tenure
24580          FEMI              6592       3VV72  Unknown risk   Mid tenure
24581          FEMI             24794       18XBC  Unknown risk   Mid tenure

           Ticket Label  Great Repayment Behavior WhatsApp Bot Recommendation
0       Low ticket size                      True                WhatsApp Bot
1       Low ticket size                     False                WhatsApp Bot
2       Low ticket size                     False                WhatsApp Bot
3       Low ticket size                      True                WhatsApp Bot
4       Low ticket size                     False                WhatsApp Bot
...                 ...                       ...                         ...
24577  High ticket size                      True                WhatsApp Bot
24578  High ticket size                      True                WhatsApp Bot
24579  High ticket size                      True                WhatsApp Bot
24580  High ticket size                      True                WhatsApp Bot
24581  High ticket size                      True                WhatsApp Bot

[24582 rows x 13 columns]

In [20]:
# Define a threshold for low EMIs
low_emi_threshold = 3000

# Define the interest rate threshold for lower interest rates, indicative of English speakers in metropolitan areas
interest_rate_threshold = 8

# Allocate resources efficiently based on the given scenarios
def allocate_channel(row):
    
    eligibilty_for_whatsapp_bot = row['Amount Pending'] <= low_emi_threshold
    
    is_metsedro_and_english_speaking_low_rate = row['Interest Rate'] < interest_rate_threshold
    has_low_bounce_behavior = row['Risk Label'] == 'Low risk'
    has_low_or_medium_emi = row['Amount Pending'] <= 7000  
    
    if eligibilty_for_whatsapp_bot:
        return 'WhatsApp Bot'
    elif is_metro_and_english_speaking_low_rate and has_low_bounce_behavior and has_low_or_medium_emi:
        return 'Voice Bot'
    else:
        return 'Human Calling'  

# Apply the resource allocation function to each borrower
df['Recommended Channel'] = df.apply(allocate_channel, axis=1)

# Display the DataFrame with the recommended channel for each borrower
print(df)

       Amount Pending           State  Tenure  Interest Rate       City  \
0                 963       Karnataka      11           7.69  Bangalore
1                1194       Karnataka      11           6.16  Bangalore
2                1807       Karnataka      14           4.24     Hassan
3                2451       Karnataka      10           4.70  Bangalore
4                2611       Karnataka      10           4.41     Mysore
...               ...             ...     ...            ...        ...
24577             899  Andhra Pradesh       8           0.00   Chittoor
24578            2699  Andhra Pradesh       8           0.00    Krishna
24579            1540  Andhra Pradesh       8           0.00    Krishna
24580             824  Andhra Pradesh       8           0.00     Guntur
24581            2254  Andhra Pradesh      11           0.00    Kurnool

      Bounce String  Disbursed Amount Loan Number    Risk Label Tenure Label  \
0               SSS             10197       JZ6FS      Low risk   Mid tenure
1               SSB             12738       RDIOY     High risk   Mid tenure
2               BBS             24640       WNW4L     High risk   Mid tenure
3               SSS             23990       6LBJS      Low risk   Mid tenure
4               SSB             25590       ZFZUA     High risk   Mid tenure
...             ...               ...         ...           ...          ...
24577          FEMI              7192       EAX5C  Unknown risk   Mid tenure
24578          FEMI             21592       5MCE9  Unknown risk   Mid tenure
24579          FEMI             12320       9HO4Q  Unknown risk   Mid tenure
24580          FEMI              6592       3VV72  Unknown risk   Mid tenure
24581          FEMI             24794       18XBC  Unknown risk   Mid tenure

           Ticket Label Recommended Channel
0       Low ticket size        WhatsApp Bot
1       Low ticket size        WhatsApp Bot
2       Low ticket size        WhatsApp Bot
3       Low ticket size        WhatsApp Bot
4       Low ticket size        WhatsApp Bot
...                 ...                 ...
24577  High ticket size        WhatsApp Bot
24578  High ticket size        WhatsApp Bot
24579  High ticket size        WhatsApp Bot
24580  High ticket size        WhatsApp Bot
24581  High ticket size        WhatsApp Bot

[24582 rows x 12 columns]